
*{
  margin:0;
  padding:0;
  color:white;
  border:border-box;
}

/* header part */
.logo {
  height:100px;
  width:100px;
  flex-shrink: 0;
  margin-left: 50px;
}
.head{
  height: 100px;
}

img{
  height:22px;
  width:22px;
}

.home-img{
  color: white;
 font-size: 33px;
 font-family: Inria Serif;
 font-weight: 700;
 opacity:1;
 
}

.header-img{
  margin-right: 5px; 
 
}

.container{
  background-color: #000B23;
  color:white;
  display:flex;
  align-items:center;
}

.options{
  margin-left: 550px;
}

.option{
 color: #FFF;
 font-family: Inria Serif;
 font-size: 33px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 height: 40px;
 flex-shrink: 0;
 margin-right:40px;
 display:flex;
 justify-content: space-evenly;
 align-items: center;
 border:1.5px solid transparent;

}

.option:hover{
  border:1.5px solid white;
}

.hero-section{
  background-image: url("./Clzz/danny-howe-bn-D2bCvpik-unsplash.jpg"); 
  height:600px;
  background-size: contain;

}

.msg1{
 height:80px;
 width:825px;
 color: white;
 font-size: 73px;
 font-family: Inria Serif;
 font-weight: 700;

}
.msg2{
  height:110px;
  width:1006px;
 color: white;
 font-size: 96px;
 font-family: Inria Serif;
 font-weight: 700;
 word-wrap: break-word
}
.hero-msg{
  padding-top: 100px;
  padding-left: 73px;
}

.arrow-icon{
  color: #FFFFFF; 
  width:190px;
  height:0;
  opacity:1;
}

.sub-part{
  margin-left: 700px;
  margin-top: 150px;
  display: flex;
  height:40px;
  width:400px;
  font-family: Inria Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.event {
  display:flex;
  background-color: #FFF;
  border-radius: 3px;
  border:2px solid white;
  color: #000B23;
  
}
.event p{
  color:#000B23;
}

button{
  justify-content: space-evenly;
  border-radius: 4px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.00);
  color: #000;
  height:40px;
  width:200px
/* font-family: Inria Serif;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal; */
}

 button p{
  color:#FFF;
  font-size: 28px;
}

.arrow-img{
  height:30px;
  width:30px;
  margin-left: 10px;
}
.info{
width: 1000px;
height: 100px;
flex-shrink: 0;
border-radius: 14px;
background-color: #FFF;
box-shadow: -2px 5px 31px 18px rgba(0, 0, 0, 0.11); 
margin-left: 160px;
margin-top: 60px;
display:flex;

justify-content: space-around;
}

.images{
width: 44px;
height: 44px;
flex-shrink: 0;

}

.text{
  width: 144px;
height: 37px;
flex-shrink: 0;
color: #000B23;
font-family: Inria Serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left:10px;
}

.search-input{
  text-decoration: none;
}

.text1{
width: 276px;
height: 35px;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.41);
font-family: Inria Serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 2px solid black;
}

.detail{
display: flex;
margin-top:5px;
color: rgba(0, 0, 0, 0.41);
font-family: Inria Serif;
font-size: 24px;
font-weight: 400;
}
.event-in{
display: flex;
margin-top:15px;
color:#000;
}

.search-bar{
  width:80px;
  height:60px;
  margin-top: 5px;
}

.event-plan{
  height:310px;
  display: flex;
}

.create-event{
  width: 300px;
  height: 290px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 23px 33px 65px -8px rgba(0, 0, 0, 0.16); 
  justify-content: center;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
}

.heading{
  color:black;
  padding-top: 15px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}
.para{
  color:black;
  margin-top: 15px;
  color: rgba(30, 30, 30, 0.78);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400
}
.event-img{
  width: 92px;
  height: 103px;
  flex-shrink: 0;
  margin-top: 15px;
}

.team-info{
  background-color: #000;
  margin-top: 40px;
  height: 350px;
}

.team{
  display: flex;
  justify-content: center;
  text-align: center;
}

.my-team{
  width: 400px;
  height:100px;
  color: #FFF;
  font-family: Inria Serif;
  font-size: 60px;
  font-weight: 400;
  margin-top: 10px;
 text-decoration: underline;
}

.mem-img{
  width: 156.278px;
  height: 159.686px;
  border-radius: 50%;
  border:5px solid white;
  transform: rotate(0.127deg);
  flex-shrink: 0;
  display: flex;
}

.team-members{
  display:flex;
  justify-content: space-evenly;
}
.name{
width: 228px;
height: 32px;
flex-shrink: 0;
color: #FFF;
font-family: Inter;
font-size: 23px;
font-weight: 400;
margin-top: 10px;
}

.panel1{
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.panel-img{
  width: 350px;
  height: 200px;
  flex-shrink: 0;
  margin-top: 30px;
  border-radius: 40px 0px 0px 0px;

}
.img-info{
  color:black;
  margin-top:5px;
  width: 379px;
  height: 36px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;

}

.panel2{
  height:190px;
  background: #000B23;
}

.logo-img{
  height:150px;
  width:150px;
  flex-shrink: 0;
  margin-top: 15px;
}

.footer-part{
  display: flex;
}

.part2{
  display: flex;
  margin-left:820px; 
  
}

.p1{
  text-decoration: underline;
  margin-top: 15px;
  height: 29px;
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  text-decoration-line: underline;
}

.p2{
  margin-top: 15px;
  margin-left: 10px;
  height: 29px;
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
}

.feedback{
  margin-left:5px;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.part3{
  display: flex;
  margin-top:20px;
  margin-left:560px; 

}
.part4{
  display: flex;
  margin-left: 700px;
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  color: #FFF;
  font-family: Inter;
  font-size: 22px;
  font-weight: 720;
}

.panel3{
height: 46px;
flex-shrink: 0;
background: rgba(0, 0, 0, 0.72);
display: flex;
justify-content: center;
align-items: center;
}